.PT-table{
    float: left;
    display: grid;
    grid-gap: 2.5px;
    grid-template-columns: repeat(18, 80px);
    grid-template-rows: repeat(10, 75px);
    padding: 10px;
    border:1px solid black;
    border-radius:3px;
    height: 100%;
}

.PT-table .Element{
    background-color: #eee;
    border-width: 1px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
    padding: 3px;
}

.PT-table .Element:hover{
    transform: scale(1.05);
}

.PT-table .Ametal{
    grid-row: 6 / span 5;
    grid-column: 3;
    background-color: #cceeff;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
}

.PT-table .Element h1{
    margin: 0 auto;
    font-size: 14px;
}

.PT-table .Element p{
    margin: 0 auto;
    font-size: 12px;
}

.AmetalText{
    text-align: center;
    padding: 30% 0;
}

.AmetalText h3{
    font-size: 22px;
}