.PT-table{
    float: left;
    display: grid;
    grid-gap: 2.5px;
    grid-template-columns: repeat(18, 80px);
    grid-template-rows: repeat(10, 75px);
    padding: 10px;
    border:1px solid black;
    border-radius:3px;
    height: 100%;
}

.PT-table .Element{
    background-color: #eee;
    border-width: 1px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
    padding: 3px;
}

.PT-table .Element:hover{
    transform: scale(1.05);
}

.PT-table .Ametal{
    grid-row: 6 / span 5;
    grid-column: 3;
    background-color: #cceeff;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
}

.PT-table .Element h1{
    margin: 0 auto;
    font-size: 14px;
}

.PT-table .Element p{
    margin: 0 auto;
    font-size: 12px;
}

.AmetalText{
    text-align: center;
    padding: 30% 0;
}

.AmetalText h3{
    font-size: 22px;
}

.StatesSelect {
    grid-row: 1 / 4;
    grid-column: 3;
}

.StatesSelect div {
    height: 50px;
    line-height: 45px;
    margin: 5px 0px;
    transition: 0.3s;
    text-align: center;
    border: black 1px solid;
}

.StatesSelect div:hover {
    transform: scale(1.1);
}

.StatesSelect .gas:hover {
    background-color: #8ced8c;
}

.StatesSelect .solid:hover {
    background-color: #c29062;
}

.StatesSelect .liquid:hover {
    background-color: #7baee7;
}

.StatesSelect .unknown:hover {
    background-color: #b85b7e;
}