<div class="PT-table">
    <div style="grid-row: 9;"></div><div style="grid-row: 9;"></div><div style="grid-row: 10;"></div><div style="grid-row: 10;"></div>
    <div class="Ametal"></div>
    <div class="AmetalText" style="grid-row: 6; grid-column: 3;"><h3>57-71</h3></div>
    <div class="AmetalText" style="grid-row: 7; grid-column: 3;"><h3>89-103</h3></div>
    <div class="AmetalText" style="grid-row: 9; grid-column: 3;"><h3>6</h3></div>
    <div class="AmetalText" style="grid-row: 10; grid-column: 3;"><h3>7</h3></div>
    <app-show-atom-info style="grid-row: 1 / 3 ; grid-column: 4 / span4;" [infoAtom]="atom"></app-show-atom-info>
    <ng-template [ngIf]="true" *ngFor="let atom of atoms">
        <div class="Element" (click)="onclick(atom)" *ngIf="CheckNumber(atom);else OtherMetals" [style.grid-row]="atom.period" [style.grid-column]="atom.group" [style.background-color]="GetColor(atom)">
            <p>{{atom.atomicNumber}}</p>
            <h1>{{atom.symbol}}</h1>
            <p>{{atom.name}}</p>
            <p>{{atom.atomicMass}}</p>
        </div>
        <ng-template #OtherMetals>
            <div class="Element" (click)="onclick(atom)" [style.grid-row]="atom.period + 3" [style.background-color]="GetColor(atom)">
                <p>{{atom.atomicNumber}}</p>
                <h1>{{atom.symbol}}</h1>
                <p>{{atom.name}}</p>
                <p>{{atom.atomicMass}}</p>
            </div>
        </ng-template>
    </ng-template>
</div>