.PT-table{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(18, 75px);
    grid-template-rows: repeat(10, 70px);
}

.PT-table .Element{
    background-color: #eee;
    border-width: 1px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
}

.PT-table .Ametal{
    grid-row: 6 / span 5;
    grid-column: 3;
    background-color: #cceeff;
}

.PT-table .Element h1{
    margin: 0 auto;
    font-size: 14px;
}

.PT-table .Element p{
    margin: 0 auto;
    font-size: 12px;
}
