.atomInfoCard{
    width: 50%;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    border:1px solid black;
    height: 100%;
}
.atom-symbol{
    float:left;
    width: 25%;
    background-color: #eee;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.26);
} 
.atom-symbol h1{
    margin: 0 auto;
}
.atom-symbol p{
    font-weight: bold;
    margin: 0 auto;
    font-size: 16px;
}

.atom-info{
    float:right;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    width: 70%;
}


.atom-info p{
    margin: 0 auto;
    font-size: 16px;
}